<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
        
        To Activate annotations in the class  
        <context:annotation-config></context:annotation-config>
        <context:component-scan base-package="com.prowings.xmlconfig"></context:component-scan>
        
	<bean id="car" name="car" class="com.prowings.xmlconfig.Car">
		<property name="id" value="1" />
		<property name="name" value="TATA" />
		<property name="type" value="HatchBack" />
		<property name="engine" ref="engine"/> commented because it added through @Autowired
	</bean>
	
	<bean id="engine" name="engine" class="com.prowings.xmlconfig.Engine">
	<property name="id" value="10"/>
	<property name="name" value="v12"/>
	</bean>

</beans>  -->